
h3 + p {
  color: #808080;
}

a:link {
  color: black;
  text-decoration: none;
}
a:visited {
  color: black;
  text-decoration: none;
}
a:hover {
  color: black;
  text-decoration: none;
}

#td_photo {
  width:25%;
}

img {
  max-width: 100%;
  height: auto;
}

#td_content {
  border:1px solid gray;
  width: 33.3%;
  height: 200px;
}
#td_content  img {
  width: 33%;
  height: auto;
}

#mini_profile {
   width:40px;
   height:40px;
   border-radius: 50%;
}
.edit-form{
float:right;
}
.modify-button{
  background: url("../img/edit.jpg") no-repeat;
  border:none;
  width:32px;
  height:32px;
  cursor:pointer;
}
.delete-button{
  background: url("../img/delete.jpg") no-repeat;
  border:none;
  width:32px;
  height:32px;
  cursor:pointer;
}
